<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Maloka Outlet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/search-product']">Produtos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!userLogged(); else logout">
            <a class="nav-link text-dark" [routerLink]="['/login']">Entrar</a>
          </li>
          <ng-template #logout>
            <!-- <li class="nav-item" (click)="userLogout()">
              <span class="nav-link text-dark" >Sair</span>
            </li> -->
          </ng-template>
          <li class="nav-item dropdown" *ngIf="userLogged()">
            <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" id="menuLink" data-toggle="dropdown" >
              {{user.name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="menuLink">
              <li class="dropdown-item nav-item" role="menu" (click)="userLogout()">Sair</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>