<div *ngIf="!products">Listando os produtos</div>

<div class="container" *ngIf="!!products">
    <div class="row">
        <div class="col-md-4 mb-4"  *ngFor="let product of products">
            <div class="card nav-item" (click)="detail(product)">
                <img src="../../../../../pictures/{{product.pictureName}}" alt="{{product.name}}" class="img-fluid">
                <div class="card-body">
                    <span class="card-title h5 d-block">{{product.name}}</span>
                    <span class="card-text ">{{product.description | truncate: 60}}</span>
                    <span class="h5 d-block mt-2">{{product.price | currency:'BRL'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>